table {
	width: 100%;
}

.title {
	background: #9bbb58;
}

div.tableau table tr:nth-child(odd) {
	background: #eaf2dd;
}

div.tableau table tr:nth-child(even) {
	background: #d8e5ba;
}
